.table {
  display: flex;
  flex-wrap: wrap;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .';
}

.pokeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: black 2px solid; */
  flex-wrap: wrap;
  border-radius: 5%;
  background-image: url('../../card.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

img {
  height: 100px;
  margin-top: 7%;
  margin-bottom: 13%;
}

.nameUpper {
  text-transform: uppercase;
  margin-top: 3%;
}

span {
  padding: 3%;
}
